.custom-button{
  background-color: orange;
  outline: none;
  border: 2px solid orange;
  padding: 10px 20px;
  border-radius: 8px;
  color: rgba(39, 35, 35, 0.814);
  transition: .2s all;
  max-width: 140px;
}
.custom-button:hover{
  background-color: #8368FF;
  border: 2px solid #000;
  color: rgb(255, 255, 255);
}

@media screen and (max-width:991px) and (min-width:766px){
  .custom-button{
    padding: 7px 18px;
    font-size: 14px;
  }
}
@media screen and (max-width:765px) and (min-width:577px){
  .custom-button{
    padding: 7px 18px;
    font-size: 14px;
  }
}
@media screen and (max-width:576px) and (min-width:0px){
  .custom-button{
    padding: 7px 16px;
    font-size: 12px;
  }
}